@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Mono:wght@700&display=swap");
body {
  margin: 2%;
  padding: 2% 2% 0% 2%;
}
.top {
  font-family: "Inconsolata", monospace;
  margin-left: 10px;
}
.scarecrow {
  margin: 2vh 2vw;
  width: 82vw;

  padding: 3vh 4vw;
}
.heading {
  font-family: "Roboto Mono", monospace;
  font-size: 2em;
  font-weight: 900;
}
.paragraph {
  font-family: "Inconsolata", monospace;
}
.btn {
  font-family: "Inconsolata", monospace;
  background-color: black;
  padding: 1em;
  color: white;
  margin: 2em 0em 2em 0em;
}
.bottom {
  font-family: "Inconsolata", monospace;
  font-weight: lighter;
  text-align: center;
  margin-top: 20%;
}
.right {
  margin: 2vh 1vw 2vh 2vw;
}
@media screen and (min-width: 900px) {
  body {
    flex-direction: column;
  }
  .content {
    display: inline-flex;
    height: 80vh;
  }
  .scarecrow {
    display: flex;
    width: 42vw;
    height: auto;
    padding: 3vh 1vw 3vh 1vh;
  }
  .right {
    display: flex;
    flex-direction: column;
    margin: 3vh 3vw 3vh 10vw;
  }

  .btn {
    margin: 2em 20em 2em 0em;
  }
  .bottom {
    height: 10%;
    margin-bottom: 5%;
  }
}
